.nav {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: $grey-light;
  padding: 20px 50px;
  box-sizing: border-box;
  border-top: 1px solid rgba(121, 121, 121, 0.3);

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__link {
    position: relative;
    color: $grey-dark;
  }

  &__notification {
    position: absolute;
    left: 15px;
    bottom: 15px;
  }
}
